body {
    font-family: 'Lato', sans-serif;
}

.main-head {
    display: flex;
    align-items: center;
    margin: 30px;
}

.fb-logo {
    max-width: 250px;
}

.favourites-link {
    margin-left: auto;
    cursor: pointer;
    font-size: 18px;
}

.main-head .fa-star {
    font-size: 20px;
    color: #ffdb58;
}

.search-container {
    margin: 0 50px;
    text-align: center;
}

.search-header {
    padding: 30px;
}

.search-title {
    font-size: 28px;
}

.search-input {
    margin-top: 30px;
    -webkit-appearance: none;
    border: 0;
    border-bottom: 1px solid #000;
    text-align: center;
    font-size: 24px;
}

.search-input:focus {
    outline: 0;
}

.result-item {
    display: flex;
    padding: 15px;
    align-items: center;
    cursor: pointer;
    text-align: left;
    width: 300px;
    margin-top: 20px;
    background: #d8d8d8;
    border-radius: 7px;
}

.results-list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.place-logo {
    float: left;
}

.place-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.place-info-wrap {
    margin-left: 20px;
}

.place-name {
    font-weight: bold;
}

.rating-score {
    padding: 4px;
    background: #3578e5;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 5px;
}

.total-score {
    opacity: 0.8;
    font-size: 12px;
}

.place-rating-detail,
.place-location {
    margin-top: 10px;
}

.place-rating-detail {
    font-family: 'Roboto Condensed', sans-serif;
}

.place-location {
    font-family: 'Oswald', sans-serif;
}

.rating-count {
    margin-left: 7px;
    color: #4b4f56;
}

.book-title-wrap {
    flex: 1;
}

.detail-wrap {
    text-align: center;
}

.detail-container {
    margin-top: 40px;
    display: inline-flex;
    flex-direction: column;
}

.basic-detail {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #b2b2b2;
}

.place-name-detail {
    text-align: left;
}

.place-name-text {
    font-size: 34px;
}

.place-location-detail {
    font-size: 15px;
    color: #89959B;
}

.place-about-detail {
    padding: 20px 0;
    border-bottom: 1px solid #b2b2b2;
}

.detail-wrap {
    padding-bottom: 40px;
}

.place-contact-details {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

.place-phone-text,
.place-address-text,
.place-link-fb {
    font-size: 18px;
    font-weight: bold;
}

.place-link {
    text-decoration: underline;
    cursor: pointer;
}

.place-phone-number,
.place-address-number {
    margin-top: 10px;
}

.place-link-fb {
    margin-bottom: 10px;
}

.favourite-place {
    align-self: baseline;
    margin-left: auto;
}

.fa-star {
    color: white;
    font-size: 20px;
}

.place-detail {
    min-width: 600px;
}

.selected .fa-star {
    color: #ffdb58;
}

.go-back {
    margin-left: auto;
    font-size: 20px;
    cursor: pointer;
}

.fav-content {
    margin: 30px;
}

.fav-wrap {
    text-align: center;
    font-size: 30px;
}